<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Amazon Shopping</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
<script src="search.js"></script>

<body>
  <script>
    function logout(){ 
        document.cookie = "username=none";
        window.location = "home.html";
      }
  </script>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Amazon</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="mycart.html">My Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="orders.html">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recommend.html">Recommendations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="complaint.html">Complaint</a>
          </li>
          <li class="nav-item">
            <button type="button" class=" btn btn-link" onclick="logout()">Log Out</button>
            <!-- <a class="nav-link" href="home.html" >Logout</a> -->
          </li>
          <li>
            <div class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" id="search" list="dd" onkeydown="obj.getTerm()" title="Enter the terms you wish to search for." placeholder="Search" aria-label="Search">
              <datalist id="dd"></datalist>
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="returnObj.show()" style="background-color: black;">GO</button>
          </div>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div ng-app = "index" ng-controller="MainCtrl as ctrl" class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Shop By Category</h1>
        <div class="list-group">
          <button type="button" class="list-group-item btn btn-link" ng-click="ctrl.category('EM')">Mobiles</button>
          <button type="button" class="list-group-item btn btn-link" ng-click="ctrl.category('EL')">Laptops</button>
          <button type="button" class="list-group-item btn btn-link" ng-click="ctrl.category('TT')">TVs</button>
          <button type="button" class="list-group-item btn btn-link" ng-click="ctrl.category('TW')">Washing Machine</button>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9"  ng-show = "ctrl.statflag" id="hide">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="./images/slide3.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="./images/slide1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="./images/slide5.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="./images/EM1.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Apple iPhone 8 Plus</a>
                </h4>
                <h5>Price :57899</h5>
                <h5 id="ref0"></h5>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.buystatic('EM1')">Buy</button>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.addcartstatic('EM1')">Add to Cart</button>
                <p class="card-text">256 GB ROM |13.97 cm (5.5 inch) Retina HD Display12MP + 12MP | 7MP Front Camera| A11 Bionic Chip with 64-bit Architecture, Neural Engine, Embedded M11 Motion Coprocessor Processor;20</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="./images/EM2.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Samsung Galaxy S20</a>
                </h4>
                <h5>Price :70500</h5>
                <h5 id="ref1"></h5>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.buystatic('EM2')">Buy</button>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.addcartstatic('EM2')">Add to Cart</button>
                <p class="card-text">8 GB RAM | 128 GB ROM | Expandable Upto 1 TB | 15.75 cm (6.2 inch) Quad HD+ Display | 64MP + 12MP + 12MP | 10MP Front Camera | 4000 mAh Lithium-ion Battery | Exynos 990 Processor;15</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="./images/EM3.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Redmi 8</a>
                </h4>
                <h5>Price :8999</h5>
                <h5 id="ref2"></h5>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.buystatic('EM3')">Buy</button>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.addcartstatic('EM3')">Add to Cart</button>
                <p class="card-text">4 GB RAM | 64 GB ROM | Expandable Upto 512 GB| 15.8 cm (6.22 inch) HD+ Display| 12MP + 2MP | 8MP Front Camera|5000 mAh Battery| Qualcomm Snapdragon 439 Processor;50</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="./images/EM4.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Honor 20i</a>
                </h4>
                <h5>Price :10999</h5>
                <h5 id="ref3"></h5>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.buystatic('EM4')">Buy</button>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.addcartstatic('EM4')">Add to Cart</button>
                <p class="card-text">4 GB RAM | 128 GB ROM | Expandable Upto 512 GB|15.77 cm (6.21 inch) Full HD+ Display|24MP + 2MP + 8MP | 32MP Front Camera|3400 mAh Battery|HiSilicon Kirin 710 Processor;12</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="./images/EM5.jpeg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Asus ZenFone Max M2</a>
                </h4>
                <h5>Price :7499</h5>
                <h5 id="ref4"></h5>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.buystatic('EM5')">Buy</button>
                <button class="btn btn-primary col-sm-offset-3" ng-click="ctrl.addcartstatic('EM5')">Add to Cart</button>
                <p class="card-text">3 GB RAM | 32 GB ROM | Expandable Upto 2 TB|15.9 cm (6.26 inch) HD+ Display|13MP + 2MP | 8MP Front Camera|4000 mAh Battery|Qualcomm Snapdragon 632 Octa Core Processor;5</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

      <!-- <div class="col-lg-9"> -->
        <div class="col-lg-9" id="item" style="display:none">
          <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" id="img" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#" id="itemid" ng-show="ctrl.ab"></a>
                    <a href="#" id="name"></a>
                  </h4>
                  <h5 id="price" class="si"></h5>
                  <button class="btn btn-primary col-sm-offset-3" ng-show="ctrl.flag && ctrl.bflag" ng-click="ctrl.buy()" >Buy</button>
                  <button class="btn btn-primary col-sm-offset-3" ng-show="ctrl.flag && ctrl.bflag" ng-click="ctrl.addcart()">Add to Cart</button>

                  <!-- Rating -->
                  <div class="form-group" ng-show="!ctrl.flag">
                      Rating:<input ng-model="ctrl.rating" ng-value="0" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
                  </div>
                  <div class="form-group" ng-show="!ctrl.flag ||  !ctrl.bflag">
                  Quantity:<input  ng-model="ctrl.quantity" type="number" ng-value="1" class="rating" min=0 max=5 step=1 data-size="xs">
                  </div>
                  
                  <button class="btn btn-primary col-sm-offset-3" ng-show="!ctrl.flag" ng-click="ctrl.buy1()" >Buy</button>
                  <button class="btn btn-primary col-sm-offset-3" ng-show="!ctrl.bflag" ng-click="ctrl.addcart1()" >Add to Cart</button>
                  <p class="card-text" id="specs" ng-show ="ctrl.flag && ctrl.bflag"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
        </div>
      <!-- </div> -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script type="text/javascript">
    angular.module("index",[]).controller("MainCtrl",['$http',function($http){
      self=this;
      self.ab =true;
      self.flag=true;
      self.bflag=true;
      self.statflag=true;

      self.list=['EM1','EM2','EM3','EM4','EM5'];
      self.quan=[]
      

     
      self.refresh=function(){
        for (let item in self.list){
						$http.get('http://127.0.0.1:5000/api/getitemdata/' + self.list[item]).then(function(response) {
							dat = response.data[0];
             // self.quan.push(dat[4]);	
              temp = "ref" + item;
              
              angular.element(document.getElementById(temp))[0].innerHTML = "Quantity :"+dat[4];
						},
						function(errResponse){
							console.error('Error');
						});
					}
      }
      self.foo=setInterval(()=>{self.refresh();},4000);

      self.buy=function(){
        self.flag=false;  
      };

      self.buy1=function(){
        var item_id = angular.element(document.getElementById('itemid'))[0].innerHTML;
        self.ab=false;
        var price = angular.element(document.getElementById('price'))[0].innerHTML;

        var x=document.cookie;
        x= x.split("=");
        self.data = {"username":x[1],"itemId":item_id,"price":price,"quantity":self.quantity,"rating":self.rating}

        $http.post('http://127.0.0.1:5000/api/buy',self.data).then(function(response) {
          self.result = response.data;
          if(self.result == "Order placed!"){
            window.location="mobile.html";
          }
          alert(self.result);
        }, 
        function(errResponse) {
          alert("Error in buying");
        });
      };

      self.addcart=function(){
        self.bflag=false;  
      };

      self.addcart1=function(){
        var item_id = angular.element(document.getElementById('itemid'))[0].innerHTML;
        self.ab=false;
        var price = angular.element(document.getElementById('price'))[0].innerHTML;

        var x=document.cookie;
        x= x.split("=");

        self.data = {"username":x[1],"itemId":item_id,"price":price,"quantity":self.quantity}

        $http.post('http://127.0.0.1:5000/api/addtocart',self.data).then(function(response) {
          self.result = response.data;
          if(self.result == "Item added to Cart!"){
            window.location="mobile.html";
          }
          alert(self.result);
        }, 
        function(errResponse) {
          alert("Error in adding to cart");
        });
      };


      self.category = function(type){
          if(type=="EM"){window.location="mobiles.html"}
          else if(type=="EL"){window.location="laptop.html"}
          else if(type=="TT"){window.location="tv.html"}
          else if(type=="TW"){window.location="wash.html"}
      };

      self.buystatic = function(type){
        // self.statflag=false;
        quan = prompt("Enter the quantity:","1");
        rating = prompt('Enter the rating:',"5");
        var x=document.cookie;
        x= x.split("=");
        
        if(type=="EM1"){self.data = {"username":x[1],"itemId":"EM1","price":"57899","quantity":quan,"rating":rating}}
        else if(type == "EM2"){self.data = {"username":x[1],"itemId":"EM2","price":"70500","quantity":quan,"rating":rating}}
        else if(type == "EM3"){self.data = {"username":x[1],"itemId":"EM3","price":"8999","quantity":quan,"rating":rating}}
        else if(type == "EM4"){self.data = {"username":x[1],"itemId":"EM4","price":"10999","quantity":quan,"rating":rating}}
        else if(type == "EM5"){self.data = {"username":x[1],"itemId":"EM5","price":"7499","quantity":quan,"rating":rating}}
        
        $http.post('http://127.0.0.1:5000/api/buy',self.data).then(function(response) {
          self.result = response.data;
          if(self.result == "Order placed!"){
            // window.location="index.html";
          }
          alert(self.result);
          }, 
          function(errResponse) {
            alert("Error in buying");
          });
      };

      self.addcartstatic = function(type){
        quan = prompt("Enter the quantity:","1");
        
        var x=document.cookie;
        x= x.split("=");
        if(type=="EM1"){self.data = {"username":x[1],"itemId":"EM1","price":"57899","quantity":quan}}
        else if(type == "EM2"){self.data = {"username":x[1],"itemId":"EM2","price":"70500","quantity":quan}}
        else if(type == "EM3"){self.data = {"username":x[1],"itemId":"EM3","price":"8999","quantity":quan}}
        else if(type == "EM4"){self.data = {"username":x[1],"itemId":"EM4","price":"10999","quantity":quan}}
        else if(type == "EM5"){self.data = {"username":x[1],"itemId":"EM5","price":"7499","quantity":quan}}

        $http.post('http://127.0.0.1:5000/api/addtocart',self.data).then(function(response) {
          self.result = response.data;
          if(self.result == "Item added to Cart!"){
            // window.location="index.html";
          }
          alert(self.result);
        }, 
        function(errResponse) {
          alert("Error in adding to cart");
        });
      };


      }]);
    
  </script>

</body>

</html>
